accelerate==1.10.1
datasets==4.0.0
flash-attn==2.7.4.post1
peft==0.18.1
tokenizers==0.22.1
torch==2.7.1+cu126
torchaudio==2.7.1+cu126
torchdata==0.11.0
torchvision==0.22.1+cu126
transformers==4.57.1
trl==0.24.0
